<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>http://static.tripbe.com/videofiles/20121214/9533522808.f4v.mp4</string>
		<key>icon</key>
		<string>11</string>
		<key>name</key>
		<string>江干区天成路工商银行</string>
		<key>time</key>
		<string>2015-4-3</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://archive.org/download/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto-HawaiianHoliday1937-Video.mp4</string>
		<key>icon</key>
		<string>12</string>
		<key>name</key>
		<string>滨江区江南大道华润超市</string>
		<key>time</key>
		<string>2015-5-3</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://devimages.apple.com/iphone/samples/bipbop/gear1/prog_index.m3u8</string>
		<key>icon</key>
		<string>13</string>
		<key>name</key>
		<string>滨江区江陵路国美电器</string>
		<key>time</key>
		<string>2015-2-3</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://devimages.apple.com/iphone/samples/bipbop/gear1/prog_index.m3u8</string>
		<key>icon</key>
		<string>14</string>
		<key>name</key>
		<string>西湖区凤起路中国银行</string>
		<key>time</key>
		<string>2015-6-10</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://devimages.apple.com/iphone/samples/bipbop/gear1/prog_index.m3u8</string>
		<key>icon</key>
		<string>11</string>
		<key>name</key>
		<string>滨江区彩虹城</string>
		<key>time</key>
		<string>2015-6-21</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://devimages.apple.com/iphone/samples/bipbop/gear1/prog_index.m3u8</string>
		<key>icon</key>
		<string>12</string>
		<key>name</key>
		<string>江干区天成路工商银行</string>
		<key>time</key>
		<string>2015-6-24</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://archive.org/download/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto-HawaiianHoliday1937-Video.mp4</string>
		<key>icon</key>
		<string>13</string>
		<key>name</key>
		<string>江干区天成路工商银行</string>
		<key>time</key>
		<string>2015-6-20</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://archive.org/download/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto-HawaiianHoliday1937-Video.mp4</string>
		<key>icon</key>
		<string>14</string>
		<key>name</key>
		<string>西湖区凤起路中国建设银行</string>
		<key>time</key>
		<string>2015-7-2</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://archive.org/download/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto-HawaiianHoliday1937-Video.mp4</string>
		<key>icon</key>
		<string>11</string>
		<key>name</key>
		<string>西湖区凤起路中国银行</string>
		<key>time</key>
		<string>2015-8-1</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://archive.org/download/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto-HawaiianHoliday1937-Video.mp4</string>
		<key>icon</key>
		<string>12</string>
		<key>name</key>
		<string>滨江区江陵路国美电器</string>
		<key>time</key>
		<string>2015-7-29</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://archive.org/download/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto-HawaiianHoliday1937-Video.mp4</string>
		<key>icon</key>
		<string>13</string>
		<key>name</key>
		<string>滨江区江陵路国美电器</string>
		<key>time</key>
		<string>2015-9-2</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://archive.org/download/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto-HawaiianHoliday1937-Video.mp4</string>
		<key>icon</key>
		<string>14</string>
		<key>name</key>
		<string>滨江区江陵路国美电器</string>
		<key>time</key>
		<string>2015-9-10</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://devimages.apple.com/iphone/samples/bipbop/gear1/prog_index.m3u8</string>
		<key>icon</key>
		<string>11</string>
		<key>name</key>
		<string>滨江区江陵路国美电器</string>
		<key>time</key>
		<string>2015-8-25</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://devimages.apple.com/iphone/samples/bipbop/gear1/prog_index.m3u8</string>
		<key>icon</key>
		<string>12</string>
		<key>name</key>
		<string>滨江区江陵路国美电器</string>
		<key>time</key>
		<string>2015-9-20</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://archive.org/download/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto-HawaiianHoliday1937-Video.mp4</string>
		<key>icon</key>
		<string>12</string>
		<key>name</key>
		<string>滨江区江陵路国美电器</string>
		<key>time</key>
		<string>2015-6-30</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://archive.org/download/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto-HawaiianHoliday1937-Video.mp4</string>
		<key>icon</key>
		<string>13</string>
		<key>name</key>
		<string>滨江区江陵路国美电器</string>
		<key>time</key>
		<string>2015-7-29</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://archive.org/download/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto-HawaiianHoliday1937-Video.mp4</string>
		<key>icon</key>
		<string>14</string>
		<key>name</key>
		<string>滨江区江陵路国美电器</string>
		<key>time</key>
		<string>2015-8-29</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://archive.org/download/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto/WaltDisneyCartoons-MickeyMouseMinnieMouseDonaldDuckGoofyAndPluto-HawaiianHoliday1937-Video.mp4</string>
		<key>icon</key>
		<string>11</string>
		<key>name</key>
		<string>滨江区江陵路国美电器</string>
		<key>time</key>
		<string>2015-9-21</string>
	</dict>
</array>
</plist>
