<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>areaId</key>
		<string>214</string>
		<key>icon</key>
		<string>sequ.png</string>
		<key>name</key>
		<string>智慧社区</string>
		<key>count</key>
		<string>3</string>
	</dict>
	<dict>
		<key>areaId</key>
		<string>262</string>
		<key>icon</key>
		<string>xiaoyuan.png</string>
		<key>name</key>
		<string>智慧校园</string>
		<key>count</key>
		<string>2</string>
	</dict>
	<dict>
		<key>areaId</key>
		<string>340</string>
		<key>icon</key>
		<string>jiaotong.png</string>
		<key>name</key>
		<string>智慧交通</string>
		<key>count</key>
		<string>2</string>
	</dict>
	<dict>
		<key>areaId</key>
		<string>341</string>
		<key>icon</key>
		<string>lvyou.png</string>
		<key>name</key>
		<string>智慧旅游</string>
		<key>count</key>
		<string>2</string>
	</dict>
</array>
</plist>
