<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>中山大桥</string>
		<key>icon</key>
		<string>003.png</string>
		<key>regionId</key>
		<string>12</string>
	</dict>
	<dict>
		<key>name</key>
		<string>艺海桥</string>
		<key>icon</key>
		<string>005.png</string>
		<key>regionId</key>
		<string>13</string>
	</dict>
	<dict>
		<key>name</key>
		<string>人民路吴宁路路口</string>
		<key>icon</key>
		<string>007.png</string>
		<key>regionId</key>
		<string>14</string>
	</dict>
</array>
</plist>
