<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>dongyang.jpg</string>
		<key>name</key>
		<string>东阳微生活</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>anfang.jpg</string>
		<key>name</key>
		<string>安防产品</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>jiaju.jpg</string>
		<key>name</key>
		<string>智能家居</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>jiaju.jpg</string>
		<key>name</key>
		<string>安防服务</string>
	</dict>
</array>
</plist>
